<div class="container-standard">
      <main id="bst-login" class="bg-semiblack">
        <div
          class="vw-100 vh-100 bg-white rounded-4 d-flex flex-column flex-lg-row overflow-auto"
        >
          <div
            class="basis-70 d-none d-lg-block card-slide-background position-relative"
          >
            <!-- card slide frame -->
            <div class="card-slide-frame"></div>
            <!-- slider wrapper -->
            <div class="embla">
              <!-- slider -->
              <div class="embla__container">
                <div class="embla__slide position-relative">
                  <div class="card-slide text-center">
                    <p class="poppins-medium display-7">
                      <span class="text-primary">600+</span> Payment Request
                    </p>
                    <div class="h-2d5r"></div>
                    <p class="poppins-regular display-8">
                      “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.”
                    </p>
                  </div>
                </div>
                <div class="embla__slide position-relative">
                  <div class="card-slide text-center">
                    <p class="poppins-medium display-7">
                      <span class="text-primary">600+</span> Payment Request
                      [Slide 2]
                    </p>
                    <div class="h-2d5r"></div>
                    <p class="poppins-regular display-8">
                      “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.”
                    </p>
                  </div>
                </div>
                <div class="embla__slide position-relative">
                  <div class="card-slide text-center">
                    <p class="poppins-medium display-7">
                      <span class="text-primary">600+</span> Payment Request
                      [Slide 3]
                    </p>
                    <div class="h-2d5r"></div>
                    <p class="poppins-regular display-8">
                      “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.”
                    </p>
                  </div>
                </div>
              </div>
              <!-- slider control -->
              <div class="embla__controls absolute-translate bottom-7 start-50">
                <div class="embla__dots"></div>
              </div>
            </div>
          </div>
          <!-- form login -->
          <div class="basis-30 p-4r">
            <img src="./assets/images/logo.png" alt="logo.png" />
            <div class="h-5r"></div>
            <div class="leading-tight">
              <p class="poppins-semibold display-7">Welcome Back</p>
              <p class="poppins-regular display-8 text-grey">
                Sign in to continue.
              </p>
            </div>
            <div class="h-2d5r"></div>
            <form>
              <div class="input-group mb-3">
                <input [(ngModel)]="username" type="text" name="username" class="form-control" placeholder="ID" />
              </div>
              <div class="input-group mb-3 position-relative">
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Password"
                  [(ngModel)]="password"
                />
                <div class="input-group-append position-absolute end-0">
                  <button
                    class="btn border-0"
                    type="button"
                    (click)="toggleShowPassword()"
                    id="togglePassword"
                  >
                    <div id="eyeIcon">
                      <svg
                        fill="#000000"
                        width="20px"
                        height="20px"
                        viewBox="0 0 36 36"
                        version="1.1"
                        preserveAspectRatio="xMidYMid meet"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <title>eye-line</title>
                        <path
                          d="M33.62,17.53c-3.37-6.23-9.28-10-15.82-10S5.34,11.3,2,17.53L1.72,18l.26.48c3.37,6.23,9.28,10,15.82,10s12.46-3.72,15.82-10l.26-.48ZM17.8,26.43C12.17,26.43,7,23.29,4,18c3-5.29,8.17-8.43,13.8-8.43S28.54,12.72,31.59,18C28.54,23.29,23.42,26.43,17.8,26.43Z"
                          class="clr-i-outline clr-i-outline-path-1"
                        ></path>
                        <path
                          d="M18.09,11.17A6.86,6.86,0,1,0,25,18,6.86,6.86,0,0,0,18.09,11.17Zm0,11.72A4.86,4.86,0,1,1,23,18,4.87,4.87,0,0,1,18.09,22.89Z"
                          class="clr-i-outline clr-i-outline-path-2"
                        ></path>
                        <rect
                          x="0"
                          y="0"
                          width="36"
                          height="36"
                          fill-opacity="0"
                        />
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
              <a href="#" class="float-end display-9 text-primary"
                >Forgot Password?</a
              >
              <div class="clearfix"></div>
              <div class="h-1r"></div>
              <button
                (click)="login()"
                type="button"
                class="btn btn-primary w-100 rounded-3 display-8"
              >
                Sign In
              </button>
              <div class="h-1r"></div>
              <button
                (click)="loginNotInput()"
                type="button"
                class="btn btn-secondary w-100 rounded-3 display-8"
              >
                Sign In Not Login
              </button>
            </form>
            <div class="h-25r"></div>
            <p class="text-center display-10">
              <span>&#169;</span> 2024 - {{currentYear}} eDocument
            </p>
          </div>
        </div>
      </main>
    </div>